@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Slide-up animation keyframes */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Utility class if needed */
.animate-slideUp {
  animation: slideUp 0.7s ease-out forwards;
}