@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";


/* Slide-up animation keyframes */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Utility class if needed */
.animate-slideUp {
  animation: slideUp 0.7s ease-out forwards;
}